/* GLOBAL STYLES */
:root {
  --text-primary: #1D2026;
  --text-secondary: #69707D;
  --text-tertiary: #B6BCC8;
  --color-primary: #FF7E1B;
  --color-secondary: #FFEEE2;
  --color-tertiary: #F6F8FD;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-primary);
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

img {
  display: block;
}

/* NAV SECTION */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
  padding: 20px 0;
  background-color: #fff;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: baseline;
}

.nav-main-list {
  display: flex;
}

li {
  list-style: none;
}

.nav-logo-link {
  order: 2;
}

.nav-menu-container {
  order: 1;
}

.nav-menu-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-main-list {
  display: none;
}

.nav-right-list {
  display: flex;
  gap: 20px;
  order: 3;
}

.nav-right-list:first-of-type {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.cart-link {
  position: relative;
}

.nav-cart-num {
  position: absolute;
  width: 20px;
  height: 15px;
  border-radius: 7px;
  background-color: var(--color-primary);
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-cart-num > p {
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 10px;
}

.avatar-link {
  width: 24px;
  height: 24px;
}

.avatar-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MOBILE NAV */
.mobile-nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 100vh;
  background-color: var(--color-secondary);
  padding: 25px;
}

.nav-close-icon {
  margin-bottom: 55px;
}

.mobile-nav-list-container li {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  nav {
    margin: 0 60px;
    padding: 30px 0;
    border-bottom: 1px solid #E4E9F2;
  }
  .nav-left {
    gap: 55px;
    align-items: center;
  }
  .nav-logo-link {
    order: 1;
  }
  .nav-menu-container {
    display: none;
  }
  .nav-main-list {
    display: flex;
    gap: 32px;
    order: 2;
  }
  .nav-main-list > li > a {
    color: var(--text-secondary);
  }
  .nav-right-list {
    order: 3;
  }
  .nav-right-list:first-of-type {
    align-items: center;
  }
  .avatar-link {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    margin: 0 165px;
    padding: 45px 0;
  }
}

/* PRODUCT SECTION */
.text-section-container {
  padding: 25px;
}

.product-subtitle {
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: bold;
  letter-spacing: 1.85px;
  margin-bottom: 16px;
}

.product-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 16px;
}

.product-description {
  font-size: 15px;
  line-height: 25px;
  color: var(--text-secondary);
  margin-bottom: 24px;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  margin-bottom: 25px;
}

.price-left {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: space-between;
}

.price-left p:first-child {
  font-size: 28px;
}

.price-left P:last-child {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
}

.price-container > p {
  color: var(--text-tertiary);
  text-decoration: line-through;
}

.counter-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-tertiary);
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 15px;
}

.counter-icon {
  align-self: center;
}

.counter {
  font-weight: bold;
}

.button-primary {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: var(--color-primary);
  color: white;
  border-radius: 10px;
  padding: 24px;
  box-shadow: 0px 20px 50px -20px var(--color-primary);
}

.button-primary > p {
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  /* .product-container {
    display: flex;
  } */
  .price-container {
    display: block;
  }
  .price-left {
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .cart-counter-container {
    display: flex;
    gap: 16px;
  }
  .counter-container {
    flex: 1;
    margin-bottom: 0;
  }
  .add-to-cart {
    flex: 2;
    align-self: center;
    box-shadow: none;
  }
}

@media only screen and (min-width: 800px) {
  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    margin-top: 60px;
    padding: 0 20px;
  }
  .text-section-container {
    padding: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .product-container {
    gap: 125px;
    width: 1110px;
    margin-top: 90px;
    /* padding: 0; */
  }
  .counter-container,
  .button-primary {
    padding: 20px 15px;
  } 
}

/* CAROUSEL */
.carousel-container {
  width: 100%;
  height: 300px;
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  display: block;
}

.arrows-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.arrow-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.arrow-wrapper::before {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}

.arrow {
  position: relative;
}

@media only screen and (min-width: 500px) {
  .carousel-container {
    height: 500px;
  }
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 1024px) {
  .arrows-container {
    display: none;
  }
  .carousel-image {
    border-radius: 15px;
  }
}

/* CART MODAL */
.cart-modal-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
}

.cart-modal-info-container {
  border-radius: 10px;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
  width: 360px;
  padding: 24px 24px 32px 24px;
  background-color: #fff;
}

.cart-modal-title {
  font-weight: 700;
  position: relative;
  padding-bottom: 25px;
}

.cart-modal-title::before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #E4E9F2;
  bottom: 0;
}

.cart-list-item-container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-list-item-image-link {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
}

.cart-list-item-image-link > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cart-list-item-detail-container {
  color: var(--text-secondary);
  line-height: 26px;
  margin: 24px 0;
}

.cart-total {
  font-weight: 700;
  color: var(--text-primary)
}

.icon-delete {
  align-self: center;
}

.button-primary.checkout {
  font-weight: 700;
  box-shadow: none;
}

.cart-empty {
  font-weight: 700;
  color: var(--text-secondary);
  text-align: center;
  padding: 75px 0 65px 0;
}

@media only screen and (min-width: 500px) {
  .cart-modal-container {
    justify-content: flex-end;
    padding-right: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .cart-modal-container {
    top: 70px;
    padding-right: 90px;
  }
}

@media only screen and (min-width: 1024px) {
  .cart-modal-container {
    top: 90px;
    padding-right: 90px;
  }
}